---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-fuchsia-400">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Grant Holle is a veteran full-stack software engineer who loves rewatching Seinfeld." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta property="og:title" content={title} />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:image" content={`${Astro.site}image.webp`} />
		<meta property="og:description" content="Grant Holle is a veteran full-stack software engineer who loves rewatching Seinfeld." />
		<meta property="og:site_name" content="Grant Holle: Developer Extraordinaire" />
		<meta property="og:type" content="profile" />
		<meta property="profile:first_name" content="Grant" />
		<meta property="profile:last_name" content="Holle" />
		<meta property="profile:username" content="grantholle" />
		<meta property="profile:gender" content="male" />
		<meta property="theme-color" content="#	#8c1eff" />
	</head>
	<body class="antialiased bg-gradient-to-tr from-fuchsia-400 via-fuchsia-300 to-cyan-400">
		<slot />
	</body>
</html>
